*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    /* justify-content: start; */
    
    color: #333;
}


.document
{
    background-color: #AEAEAE;
}

.card
{
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, #bec07b, #9ea36e, #818662, #666a55, #4d4f47);
    font-weight: 400;
    height: fit-content;
    color: white;
    padding-bottom:20px;
    border: 10px solid #AEAEAE;
    border-radius: 10px;
}

.cardHeading
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 3rem;
    width: 100%;
}

.divcontainer
{
    text-align: center;
    margin: 5px;
}

.image
{
    height: 200px;
    object-fit:contain;
    margin: 10px;
}


.button
{
    background-image: linear-gradient(to right, #bec07b, #9ea36e, #818662, #666a55, #4d4f47);
    width:50%;
    border: 2px solid white;
    border-radius: 10px;
    color: white; 
    margin: auto;

}

@media (min-width: 992px) 
{
.card:hover 
{
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

.card:hover .btn 
{
    opacity: 1;
  }
}

